server:
  port: 8080

spring:
  application:
    name: ServiceRegistry
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/productDB
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true